main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    align-items: center;
}

header {
    font-family: "Trade Gothic Bold";
    height: 50px;
    background-color: #4ed2ad;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

footer {
    height: 50px;
    background-color: #4ed2ad;
}

.switch-icon {
    height: 70%;
    padding: 15%;
}

.header-div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    margin: 0px 10px;
}

header span {
    color: #646cff;
}

header>p {
    font-weight: bold;
    font-size: 25px;
    margin: 0px 20px;
}

.content {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: calc(100vh - 100px);
    align-items: stretch;
}

.content>aside {
    background-color: #4ed2ad;
    width: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px;
}

ul {
    list-style-type: none;
    padding-left: 0;
}

li {
    border-radius: 5px;
}

li:hover {
    background-color: #4cb396;
    transform: scale(1.1);
}

li>a {
    display: block;
    padding: 10px 5px;
    width: 100%;
}